body {
    /* Body styling adapted from http://bettermotherfuckingwebsite.com/,
     * by Drew McConville and Gabe Hammersmith. */
    margin: 2em auto;
    max-width: 40em;
    /* the 1em padding on the left and right ensures that the text doesn't hit
     * the side of the browser window, even on tiny screens like phones. (or
     * normal computer browser windows when you resize them to phone-like
     * dimensions to test things. that works too.)
     */
    padding: 0 1em;
    line-height: 1.4;
    color: #333;
    /* gentler default background color */
    background-color: #e6e9fe;
    font-family: "Times New Roman", Times, serif;
}
.monotext {
    font-size: medium;
    font-family: monospace;
}
.desc {
    margin-top: 0.1em;
    margin-left: 2em;
}
.sb {
    font-weight: bold;
}
/* Based on https://stackoverflow.com/questions/11903773/add-space-between-li-elements/11903886#comment88753789_11903886. */
li:not(:last-child) {
    margin-bottom: 1em;
}

/* https://stackoverflow.com/a/10487968 */
ul,
li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li:first-child {
    margin-top: 1em;
}

li:first-line {
    font-weight: bold;
}

.outlink {
    border-radius: 5px;
    border: 2px solid;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    margin-left: 3px;
    padding: 3px;
}

/* Background / border colors laboriously picked by googling "hex color picker"
 * and trying stuff out for five minutes until things look good. Graphic design
 * is my passion
 */
.opaper {
    background-color: #514cc2;
    border-color: #1d196e;
}
.opaper::before {
    content: "Paper";
}

.oposter {
    background-color: #1f7840;
    border-color: #0d4020;
}
.oposter::before {
    content: "Poster";
}

.oslides {
    background-color: #cc7104;
    border-color: #8f5003;
}
.oslides::before {
    content: "Slides";
}

.ocode {
    background-color: #c43939;
    border-color: #590d0d;
}
.ocode::before {
    content: "Code";
}

/* Other categories of "outlinks" that don't have fixed names */
.othesis {
    background-color: #6e3419;
    border-color: #2b0f03;
}

.omisc {
    background-color: #172fa6;
    border-color: #0a1340;
}
