body {
    /* Body styling adapted from http://bettermotherfuckingwebsite.com/,
     * by Drew McConville and Gabe Hammersmith. */
    margin: 2em auto;
    max-width: 40em;
    line-height: 1.4;
    color: #333;
    padding: 0 1em;
    font-family: "Times New Roman", Times, serif;
}
.eaddr {
    font-size: medium;
    font-family: monospace;
}
