body {
    /* Body styling adapted from http://bettermotherfuckingwebsite.com/,
     * by Drew McConville and Gabe Hammersmith. */
    margin: 2em auto;
    max-width: 40em;
    line-height: 1.4;
    color: #333;
    padding: 0 1em;
    font-family: "Times New Roman", Times, serif;
}
.eaddr {
    font-size: medium;
    font-family: monospace;
}
.desc {
    margin-left: 2em;
}
.sb {
    font-weight: bold;
}
/* Based on https://stackoverflow.com/questions/11903773/add-space-between-li-elements/11903886#comment88753789_11903886. */
li:not(:last-child) {
    margin-bottom: 1em;
}
